.content {
	margin: 0 auto;
	width: 800px;
}

.box1 {
  display: flex;
  height: 100px;
  margin-bottom: 10px; 
  flex-direction: row;
  background-color: #F5C6D6;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
}

.pink div {
  height: 100px;
  margin: 10px;
  background-color: #EE2E84;
  flex-grow: 1;
}

.pink div:first-child {
  margin-left: 0
}

.pink div:last-child {
  margin-right: 0
}

.row3 div {
  height: 100px;
  margin: 10px;
  background-color: #85CFD8;
  flex-grow: 1;
}

.row3 div:first-child {
  margin-left: 0
}

.row3 div:last-child {
  margin-right: 0
}


.box8 {
  margin-left: 0;
  margin-top: 10px;
  margin-right: 10px;
  height: 100px;
  flex-grow: 2;
  background-color: #8DC63F;
}

.box9 {
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 0;
  height: 100px;
  background-color: #E76E34;
  flex-grow: 1;
}
